
<h1>My name is <%= ["Amigo", "Oscar", "Viking"].sample %></h1>

<h2><i>My name is <%= ["Amigo", "Oscar", "Viking"].sample %></h2>

<div style='border: 8px solid blue; width: 454px'>
   <img src='http://bit.ly/1eze8aE'>
 </div>
